.home-main-container {
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  font-family: 'Roboto';
}

.courses-title {
  font-weight: 700;
  font-size: 35px;
}

.courses-list-container {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  margin: 35px;
}

.item-image {
  height: 30px;
  width: 30px;
}

.item-button {
  background-color: transparent;
  border-color: transparent;
  color: #000000;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: transparent;
  font-size: 15px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-image {
  margin-top: 15px;
  height: 350px;
  width: 650px;
}

.failure-heading {
  color: #1e293b;
  font-weight: 900;
  font-size: 45px;
}

.failure-description {
  color: #475569;
  font-size: 35px;
}

.failure-button {
  background-color: #4656a1;
  color: #ffffff;
  padding: 6px;
  font-size: 20px;
  border-color: transparent;
  border-radius: 6px;
}
